/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

/* #endregion RESET */

/* #region TYPOGRAPHY */

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --foot-bg: #282828;
    --dash-bg: #141922;
    --text-gray: #6f6f6f;
    --highlight: #adff2f;
    --songbar: #c1c1c1;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.total-bar {
    height: 4px;
    border-radius: 10px;
    background-color: var(--text-gray);
}

.actual-bar {
    width: 20%;
    height: 100%;
    background-color: var(--songbar);
    border-radius: 10px;
}



/* #endregion COMMON */

/* #region MAIN */

/* #region navbar */

.main.container .navbar {
    width: 230px;
    background-color: black;
    height: calc(100vh - 90px);
    padding: 20px 20px 10px 20px;
}

.main.container .navbar span,
.main.container .navbar a {
    color: var(--text-gray);
    font-weight: bold;
    font-size: .75rem;
}

/* #region logo-container*/

.main.container .navbar .logo-container {
    width: 132px;
}

.main.container .navbar .logo-container img {
    width: 100%
}

.main.container .navbar .logo-container .small-logo {
    display: none;
}


/* #endregion logo-container*/

/* #region nav-menu */

.main.container .navbar .nav-menu .element-list {
    margin-top: 29px;
    gap: 9px;
}

.main.container .navbar .nav-menu .element-list li .element-evidence {
    color: white;
}

.main.container .navbar .nav-menu .element-list li:first-of-type {
    position: relative;
}

.main.container .navbar .nav-menu .element-list li:first-of-type .highlighter {
    width: 3px;
    height: 35px;
    background-color: var(--highlight);
    position: absolute;
    left: -20px;
}

.main.container .navbar .nav-menu .element-list img {
    width: 26px;
    margin-right: 6px;
    opacity: 0.7;
}

/* #endregion nav-menu */

/* #region playlist-menu */

.main.container .navbar .playlist-menu {
    margin-top: 22px;
    overflow-y: hidden;
    flex-grow: 1;
    min-height: 175px;
}

.main.container .navbar .playlist-menu .element-evidence {
    color: white;
    font-size: .8125rem;
}

.main.container .navbar .playlist-menu .add-playlist {
    margin-top: 8px;
}

.main.container .navbar .playlist-menu .add-playlist a {
    font-size: .875rem;
}

.main.container .navbar .playlist-menu .add-playlist i {
    color: white;
    font-size: 2.625rem;
    vertical-align: middle;
    margin-right: 7px;
    opacity: 0.7;
}

.main.container .navbar .playlist-menu .playlist-list {
    gap: 16px;
    margin-top: 15px;
    overflow-y: auto;

}

.main.container .navbar .playlist-menu .playlist-list li span {
    font-size: .8125rem;
}

/* #endregion playlist-menu */

/* #region profile-menu */

.main.container .navbar .profile-menu {
    margin-top: auto;
}

.main.container .navbar .profile-menu .download-app {
    margin-top: 9px;
}

.main.container .navbar .profile-menu .download-app img {
    opacity: 0.7;
    width: 13px;
    margin-right: 11px;

}

.main.container .navbar .profile-menu hr {
    border-color: var(--text-gray);
    margin-top: 9px;
    margin-bottom: 13px;
}

.main.container .navbar .profile-menu .user .username {
    font-size: .8125rem;
    color: white;
}

.main.container .navbar .profile-menu .user .pic-container {
    margin-right: 10px;
    background-color: var(--text-gray);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.main.container .navbar .profile-menu .user .pic-container img {
    object-fit: cover;
}

/* #endregion profile-menu */

/* #endregion navbar */

/* #region dashboard */

.main.container .dashboard {
    background-color: var(--dash-bg);
    flex-grow: 1;
    overflow: auto;
}

.main.container .dashboard .upgrade-overlay {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5)
}

/* #endregion dashboard */



/* #endregion MAIN */

/* #region FOOTER */

footer .controls-container {
    height: 90px;
    background-color: var(--foot-bg);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0 11px;

}

footer .controls-container .left-controls .listening .actual-song-cover {
    width: 42px;
    margin-right: 12px;
}

footer .controls-container .left-controls .listening .actual-song-info .actual-song-title {
    color: white;
    font-weight: bold;
    font-size: .75rem;
}

footer .controls-container .left-controls .listening .actual-song-info .actual-song-artist {
    color: var(--text-gray);
    font-weight: bold;
    font-size: .625rem;
}

footer .controls-container .left-controls .listening .song-interactions {
    gap: 14px;
    margin-left: 43px;
}

footer .controls-container .left-controls .listening .song-interactions a i {
    color: var(--text-gray)
}

footer .controls-container .center-controls {
    flex-shrink: 0;
}

footer .controls-container .center-controls .top-controls {
    margin-bottom: 15px;
    gap: 22px;
}

footer .controls-container .center-controls .top-controls li button i {
    color: white;
    font-size: 1.125rem;
}

footer .controls-container .center-controls .top-controls li button .fa-circle-play {
    font-size: 1.875rem;
    padding: 0 8px;
}

footer .controls-container .center-controls .bottom-scrollbar .total-bar {
    width: 428px;
    margin: 0 26px;

}

footer .controls-container .center-controls .bottom-scrollbar .actual-time,
footer .controls-container .center-controls .bottom-scrollbar .song-duration {
    font-weight: bold;
    color: white;
    font-size: .625rem;
}

footer .controls-container .right-controls {
    gap: 17px;

}

footer .controls-container .right-controls li button i {
    color: white;
}

footer .controls-container .right-controls .total-bar {
    width: 118px;
    margin-left: 4px;
}


/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* #region da 0 a 992px */

@media screen and (max-width: 992px) {}

/* #endregion da 0 a 992px */

/* #region da 0px a 768px */

@media screen and (max-width: 768px) {}

/* #endregion da 0px a 768px */

/* #region da 0px a 576px */

@media screen and (max-width: 576px) {

    /* #region navbar responsive*/

    .main.container .navbar {
        width: 50px;
        padding: 0;
    }

    .main.container .navbar,
    .main.container .navbar .profile-menu {
        align-items: center;
    }

    .main.container .navbar a,
    .main.container .navbar span,
    .main.container .navbar .playlist-menu,
    .main.container .navbar .big-logo,
    .main.container .navbar hr {
        display: none;
    }

    .main.container .navbar .logo-container .small-logo {
        display: block;
    }

    .main.container .navbar .logo-container {
        width: 28px;
        margin-top: 5px;
    }

    .main.container .navbar .nav-menu .element-list li img,
    .main.container .navbar .profile-menu .download-app img {
        margin: 0;
    }

    .main.container .navbar .profile-menu .user .pic-container {
        margin: 22px 0 10px;
    }

    .main.container .navbar .nav-menu .element-list {
        margin-top: 15px;
    }

    /* #endregion navbar responsive*/



}



/* #endregion da 0px a 576px */

/* #endregion MEDIA QUERIES */