/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

body {
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-gray);
    border-radius: 10px;
}

#bsod {
    display: none;
}

.bsod-bg {
    width: 100vw;
    height: 100vh;
    background-color: #0078D7;
}

.bsod-img {
    position: fixed;
    z-index: 9999999999;
    top: 0;
}



/* #endregion RESET */

/* #region TYPOGRAPHY */

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-gray);
    font-weight: bold;
}

:root {
    --foot-bg: #282828;
    --dash-bg: #141922;
    --text-gray: #6f6f6f;
    --highlight: #adff2f;
    --songbar: #c1c1c1;
}

h2 {
    color: white;
    font-size: 1.4375rem;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.total-bar {
    height: 4px;
    border-radius: 10px;
    background-color: var(--text-gray);
}

.actual-bar {
    width: 20%;
    height: 100%;
    background-color: var(--songbar);
    border-radius: 10px;
    position: relative;
}

.total-bar:hover .actual-bar {
    background-color: var(--highlight);
}

.ball-scroller {
    position: absolute;
    right: -0.4688rem;
    bottom: -0.4688rem;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.total-bar:hover .ball-scroller {
    display: block;
}

.highlighter {
    background-color: var(--highlight);
    position: absolute;
}

/* #endregion COMMON */

/* #region MAIN */

/* #region navbar */

.main-container .navbar {
    min-width: 230px;
    background-color: black;
    height: calc(100vh - 90px);
    padding: 20px 20px 10px 20px;
}

.main-container .navbar span,
.main-container .navbar a {
    font-size: .75rem;
}

/* #region logo-container*/

.main-container .navbar .logo-container {
    width: 132px;
}

.main-container .navbar .logo-container img {
    width: 100%
}

.main-container .navbar .logo-container .small-logo {
    display: none;
}


/* #endregion logo-container*/

/* #region nav-menu */

.main-container .navbar .nav-menu .element-list {
    margin-top: 29px;
    gap: 9px;
}

.main-container .navbar .nav-menu .element-list li:hover a {
    color: white;
}

.main-container .navbar .nav-menu .element-list li:hover img {
    opacity: 1;
}

.main-container .navbar .nav-menu .element-list li .element-evidence {
    color: white;
}

.main-container .navbar .nav-menu .element-list li:first-of-type {
    position: relative;
}

.main-container .navbar .nav-menu .element-list li:first-of-type .highlighter {
    width: 3px;
    height: 35px;
    left: -20px;
}

.main-container .navbar .nav-menu .element-list img {
    width: 26px;
    margin-right: 6px;
    opacity: 0.7;
}

/* #endregion nav-menu */

/* #region playlist-menu */

.main-container .navbar .playlist-menu {
    margin-top: 22px;
    overflow-y: hidden;
    flex-grow: 1;
    min-height: 175px;
}

.main-container .navbar .playlist-menu .element-evidence {
    color: white;
    font-weight: bold;
    font-size: .8125rem;
}

.main-container .navbar .playlist-menu .add-playlist {
    margin-top: 8px;
}

.main-container .navbar .playlist-menu .add-playlist:hover .fa-square-plus {
    opacity: 1;
}

.main-container .navbar .playlist-menu .add-playlist:hover .create-playlist {
    color: white;
}


.main-container .navbar .playlist-menu .add-playlist a {
    font-size: .875rem;
}

.main-container .navbar .playlist-menu .add-playlist i {
    color: white;
    font-size: 2.625rem;
    vertical-align: middle;
    margin-right: 7px;
    opacity: 0.7;
}

.main-container .navbar .playlist-menu .playlist-list {
    gap: 16px;
    margin-top: 15px;
    overflow-y: auto;
}

.main-container .navbar .playlist-menu .playlist-list::-webkit-scrollbar {
    width: 3px;
}

.main-container .navbar .playlist-menu .playlist-list li span {
    font-size: .8125rem;
}

/* #endregion playlist-menu */

/* #region profile-menu */

.main-container .navbar .profile-menu {
    margin-top: auto;
}

.main-container .navbar .profile-menu .download-app {
    margin-top: 9px;
}

.main-container .navbar .profile-menu .download-app img {
    opacity: 0.7;
    width: 13px;
    margin-right: 11px;
}

.main-container .navbar .profile-menu .download-app:hover .download-icon {
    opacity: 1;
}

.main-container .navbar .profile-menu .download-app:hover a {
    color: white;
}

.main-container .navbar .profile-menu hr {
    border-color: var(--text-gray);
    margin-top: 9px;
    margin-bottom: 13px;
}

.main-container .navbar .profile-menu .user .username {
    font-size: .8125rem;
    font-weight: bold;
    color: white;
}

.main-container .navbar .profile-menu .user .pic-container {
    margin-right: 10px;
    background-color: var(--text-gray);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.main-container .navbar .profile-menu .user .pic-container img {
    object-fit: cover;
}


/* #endregion profile-menu */

/* #endregion navbar */

/* #region dashboard */

.main-container .dashboard {
    background-color: var(--dash-bg);
    flex-grow: 1;
    overflow: auto;
}

/* #region upgrade-overlay */

.main-container .dashboard .upgrade-overlay {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 20px 7px 0;
    position: fixed;
    right: 0;
    left: 230px;
    z-index: 9999;
}

.main-container .dashboard .upgrade-overlay button {
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 50px;
    padding: 13px 40px;
    margin-left: auto;
    font-size: .75rem;
    text-transform: uppercase;
}

.main-container .dashboard .upgrade-overlay button:hover {
    scale: 1.1;
}

/* #endregion upgrade-overlay */

/* #region main-page */

.main-container .dashboard .main-page {
    padding: 0 20px 20px 20px;
    height: calc(100vh - 90px);
    overflow-y: auto;
}

/* #region categories */

.main-container .dashboard .main-page .categories {
    margin-top: 113px;
    font-size: .8125rem;
    gap: 22px;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.main-container .dashboard .main-page .categories li:first-of-type {
    position: relative;
}

.main-container .dashboard .main-page .categories li:first-of-type .highlighter {
    height: 2px;
    width: 30px;
    bottom: -5px;
    left: calc(50% - 15px);
}

/* #endregion categories */

/* #region sections */

.main-container .dashboard .main-page .section-container {
    margin-top: 40px;
}

.main-container .dashboard .main-page .section-container .carousel {
    margin-top: 30px;
    gap: 15px;
    flex-wrap: wrap;
}

.main-container .dashboard .main-page .section-container .carousel .element {
    width: calc((100% - 75px) / 6);
}

.main-container .dashboard .main-page .section-container .carousel .element .cover-container {
    position: relative;
    max-width: 300px;
}


.main-container .dashboard .main-page .section-container .carousel .element .cover-container img {
    object-fit: cover;
}

.main-container .dashboard .main-page .section-container .carousel .element .play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.main-container .dashboard .main-page .section-container .carousel .element .cover-container .play-overlay .black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.main-container .dashboard .main-page .section-container .carousel .element .cover-container .play-overlay .play-icon {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container .dashboard .main-page .section-container .carousel .element .cover-container:hover .play-overlay {
    display: block;
}

.main-container .dashboard .main-page .section-container .carousel .element .element-title {
    color: white;
    margin-top: 18px;
    text-align: center;
}

.main-container .dashboard .main-page .section-container .carousel .element .element-author {
    font-size: .75rem;
    margin-top: 10px;
    text-align: center;
}

.main-container .dashboard .main-page .section-container .section-description {
    font-size: .75rem;
    margin-top: 10px;
}

.main-container .dashboard .main-page .popular-artists .carousel .element .cover-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}


/* #endregion sections */

/* #endregion main-page */

/* #endregion dashboard */

/* #endregion MAIN */

/* #region FOOTER */

footer .controls-container {
    width: 100vw;
    height: 90px;
    background-color: var(--foot-bg);
    position: fixed;
    z-index: 9999;
    padding: 0 11px;
}

footer .controls-container .left.controls,
footer .controls-container .right.controls {
    width: 230px;
}

footer .controls-container .center.controls {
    width: 37%;
    margin: 0 10px;
}

/* #region left controls */

footer .controls-container .left.controls .listening {
    gap: 9%;
}

footer .controls-container .left.controls .listening .actual-song .actual-song-cover {
    width: 42px;
    margin-right: 12px;
}

footer .controls-container .left.controls .listening .actual-song .actual-song-info .actual-song-title {
    color: white;
    font-weight: bold;
    font-size: .75rem;
}

footer .controls-container .left.controls .listening .actual-song .actual-song-info .actual-song-artist {
    font-size: .625rem;
}

footer .controls-container .left.controls .listening .actual-song .actual-song-info .actual-song-artist:hover {
    text-decoration: underline;
}

footer .controls-container .left.controls .listening .song-interactions {
    padding: 0 10px;
    gap: 14px;
}

/* #endregion left controls */

/* #region central controls */

footer .controls-container .center.controls .top-controls {
    margin-bottom: 15px;
    gap: 22px;
}

footer .controls-container .center.controls .top-controls li button i {
    color: white;
    font-size: 1.125rem;
}

footer .controls-container .center.controls .top-controls li button #play {
    font-size: 1.875rem;
    padding: 0 8px;
}

footer .controls-container .center.controls .top-controls li button #play:hover {
    scale: 1.1;
}

footer .controls-container .center.controls .bottom-scrollbar {
    gap: 5%;
}

footer .controls-container .center.controls .bottom-scrollbar .total-bar {
    width: 100%;
}

footer .controls-container .center.controls .bottom-scrollbar .actual-time,
footer .controls-container .center.controls .bottom-scrollbar .song-duration {
    font-weight: bold;
    color: white;
    font-size: .625rem;
}

/* #endregion central controls */

/* #region right controls */

footer .controls-container .right.controls {
    justify-content: flex-end;
    gap: 7%;
}

footer .controls-container .right.controls li button i {
    color: white;
}

footer .controls-container .right.controls .total-bar {
    width: 50%;
}

/* #endregion right controls */

/* #endregion FOOTER */

/***
****
****
****/

/* #region MEDIA QUERIES */

/* #region da 0 a 992px */

@media screen and (max-width: 992px) {

    /* #region dashboard responsive*/

    .main-container .dashboard .main-page .section-container .carousel .element {
        width: calc((100% - 45px) / 4);
    }

    /* #endregion dashboard responsive*/

}

/* #endregion da 0 a 992px */

/* #region da 0px a 768px */

@media screen and (max-width: 768px) {

    /* #region dashboard responsive*/

    .main-container .dashboard .main-page .section-container .carousel .element {
        width: calc((100% - 15px) / 2);
    }

    /* #endregion dashboard responsive*/

    /* #region footer responsive*/

    footer .controls-container .left.controls {
        flex-grow: 0;
    }

    footer .controls-container .left.controls .listening .song-interactions {
        flex-direction: column;
        gap: 0;
    }

    /* #endregion footer responsive*/
}

/* #endregion da 0px a 768px */

/* #region da 0px a 576px */

@media screen and (max-width: 576px) {

    /* #region navbar responsive*/

    .main-container .navbar {
        min-width: 50px;
        padding: 0;
    }

    .main-container .navbar,
    .main-container .navbar .profile-menu {
        align-items: center;
    }

    .main-container .navbar a,
    .main-container .navbar span,
    .main-container .navbar .playlist-menu,
    .main-container .navbar .big-logo,
    .main-container .navbar hr {
        display: none;
    }

    .main-container .navbar .logo-container .small-logo {
        display: block;
    }

    .main-container .navbar .logo-container {
        width: 28px;
        margin-top: 5px;
    }

    .main-container .navbar .nav-menu .element-list li img,
    .main-container .navbar .profile-menu .download-app img {
        margin: 0;
    }

    .main-container .navbar .profile-menu .user .pic-container {
        margin: 22px 0 10px;
    }

    .main-container .navbar .nav-menu .element-list {
        margin-top: 15px;
    }

    /* #endregion navbar responsive*/

    /* #region dashboard responsive*/

    .main-container .dashboard .upgrade-overlay {
        left: 50px;
    }

    /* #endregion dashboard responsive*/

}

/* #endregion da 0px a 576px */

/* #endregion MEDIA QUERIES */